body{
    background-color: black;
    text-align: center;
}
h2{
    color: white;

}
img{
    color: white;
    width: 146px;
    height: 182px;
}
/*.botton{
    border: 1px solid;
    border-radius: 50%;
}*/